<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Easy quotation software</h2>
        <h3 class="oe_slogan">Send polished quotation with e-Signature and online payment.</h3>
        <div class="col-md-12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sale_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced oe_mb64">
        <h2 class="oe_slogan" style="">Your quotes online from proposal to eSignature</h2>
        <div class="oe_mt32 text-center" style="margin-left: 65px;">
            <div class="col-md-2">
                <span class="fa fa-pencil fa-2x"></span>
                <h5 class="oe_mt16">Quotation templates</h5>
            </div>
            <div class="col-md-1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="col-md-2">
                <span class="fa fa-envelope-o fa-2x"></span>
                <h5 class="oe_mt16">Send quotations</h5>
            </div>
            <div class="col-md-1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="col-md-2">
                <span class="fa fa-check fa-2x"></span>
                <h5 class="oe_mt16">Close deals</h5>
            </div>
            <div class="col-md-1">
                <span class="fa fa-long-arrow-right fa-2x"></span>
            </div>
            <div class="col-md-2">
                <span class="fa fa-credit-card fa-2x"></span>
                <h5 class="oe_mt16">Get paid faster</h5>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02a.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Sell faster with electronic signatures</b>
            </h4>
            <p class="text-justify">
            Allow customers to easily review and sign your online quotations from anywhere.
            </p>
        </div>
        <div class="col-md-4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02b.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Communicate quickly and efficiently</b>
            </h4>
            <p class="text-justify">
            Get custom alerts for relevant activities, automatically communicate on the quote via email, have a traceability of the negotiation.
            </p>
        </div>
        <div class="col-md-4">
            <img class="oe_picture oe_screenshot" src="sale_sc_02c.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Maximize profits by upselling</b>
            </h4>
            <p class="text-justify">
            Increase sales volume by automatically proposing extra options and accessories, apply closing triggers, discounts, and more.
            </p>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <div class="col-md-6">
            <h2 class="oe_slogan" style=" text-align: left;">Sell more with clean quotations</h2>
            <h3 class="oe_slogan" style="text-align: left;">Better showcase your products and services.</h3>
            <p class="oe_mt32 text-justify">
            Send clear and complete quotations to your prospects. Add product descriptions, beautiful images and additional information simply by dragging and dropping building blocks.
            </p>
        </div>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="sale_sc_03.png">
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced oe_mb64">
        <h2 class="oe_slogan oe_mb32" style="">Great prices for great revenues</h2>
        <div class="col-md-4 text-center">
            <span class="fa fa-bar-chart fa-2x"/>
            <p class="oe_mt16">
            Design, implement and adjust your pricing strategy to maximize benefits
            </p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa fa-dollar fa-2x"/>
            <p class="oe_mt16">
            Use price list rules to compute the right price based on customers conditions.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa fa-ticket fa-2x"/>
            <p class="oe_mt16">
            Convince customers with discounts and coupons.
            </p>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Order &amp; contract sorting</h2>
        <h3 class="oe_slogan">Automate operations and focus on relations and revenues</h3>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="sale_sc_05.png"/>
        </div>
        <div class="col-md-6 text-justify">
            <h4 class="oe_mt16">
                <b>From quotes to sales orders</b>
            </h4>
            <p>
            Convert quotation into sales order in a click or let the customer do it with electronic signature.
            </p>
            <h4 class="oe_mt16">
                <b>Contracts management</b>
            </h4>
            <p>
            Invoice customers based on time and materials, easily record contracts and track invoicing phases, renewal and upselling and manage your subscriptions with Odoo's recurring contracts.  
            </p>
            <h4 class="oe_mt16">
                <b>Let your customers help themselves</b>
            </h4>
            <p>
            Customer portal gives your customers an access to their quotes, sales orders and delivery orders. Save time and use Odoo Sign to easily get signatures on NDAs, contracts or any PDF document.
            </p>
        </div>
    </div>
</section>

<section class="container oe_separator">
</section>
